<div class="container w-50 " style=" margin-top:50px">
         <h4 class="text-center">Success! Please use this link:</h4>
         <a href="/{{ shortenURL }}" id="copy">http://localhost:3000/{{ shortenURL }}</a>
         <button class="btn btn-primary" type="button" onclick="copyLink()">Copy</button>
     </div> 